*{
    margin: 0px;
    padding: 0px;
}

.content{
    width: 50%;
    height: 190px;
    border: 1px solid #dadada;
    border-radius: 10px 10px;
    margin: auto;
    margin-top: 10px;
}
.content p{
    text-align: center;
    font-size: 25px;
    line-height: 190px;
}
.in{
    padding-top: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.in input{
    padding-left: 10px;
    width: 98%;
    height: 45px;
    font-size: 19px;
    border: 2px solid #dadada;
    border-radius: 3px;
}
.in input:focus{
     outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.test{
    padding-top: 10px;
    width: 50%;
    margin: auto;
}
.test p{
    font-size: 21px;
}