*{
    margin: 0px;
    padding: 0px;
}

.content{
    width: 50%;
    height: 190px;
    border: 1px solid #dadada;
    border-radius: 10px 10px;
    margin: auto;
    margin-top: 10px;
}
.content p{
    text-align: center;
    font-size: 25px;
    line-height: 190px;
}
.in{
    padding-top: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.in input{
    padding-left: 10px;
    width: 88%;
    height: 45px;
    font-size: 19px;
    border: 2px solid #dadada;
    border-radius: 3px;
}
.in p{
    height: 45px;
    line-height: 45px;
    font-size: 19px;
    color: white;
    background-color: #008CBA;
    width: 9%;
    display: inline-block;
    border-radius: 3px;
}
.in input:focus{
     outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.test{
    padding-top: 10px;
    width: 50%;
    margin: auto;
}
.test p{
    font-size: 21px;
}
.notifi{
    font-size: 19px;
    margin-top: 10px;
    width: 200px;
    float:left;
    height: 100px;
    /* text-align: center; */
    padding-left: 30px;
}
.notifi .rest{
    margin-top: 10px;
    color: white;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:  #008CBA;
    border-radius: 5px 5px;
}
.notifi .rest:hover{
    opacity: 0.7;
}
/* .notifi p b{
    color: red;
} */